root{
    ---Darkblue: #0A3871;
    ---Gray400: #495057;
    ---Gray500: #343A40;
    ---Ligthblue100: #F3F5Fc;
    ---White: #FFFFF;
    ---White1: #E8E8E8;
    ---White2: #D8DFE8;
    ---Black: #000000;
}